

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightblue;
  height: 100vh;
  margin: 0;
  font-size: 40px;
  flex-direction: column;
  background-image: url('../images/platzi.png');
  background-size: contain;
}
