body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightblue;
    height: 100vh;
    margin: 0;
    font-size: 40px;
}

p {
    background-color: brown;
    font-size: 48px;
    text-align: center;
}